@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-400;
  }
}

html {
  scrollbar-width: 0;
  scrollbar-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
}
